<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="hero-unit">
        <!--navbar-->
        <div class="container">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("HOME", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="menuRight">@Html.ActionLink("Enroll", "Create", "Students")</li>
                        <li class="menuRight">@Html.ActionLink("View List", "Index", "Students")</li>
                        <li class="menuRight">@Html.ActionLink("Contact", "Contact", "Home")</li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Scholarships <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Matching Name Scholarship</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Potter Scholarship</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Longbottom Sholarship</a></li>
                            </ul>
                        </li>

                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <!--end of navbar-->
        <div class="container body-content">
            <div class="pageTitle">
                STUDENT REGISTRATION
            </div>
            @RenderBody()

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
            <!--script for Tom, Riddle, Voldemort Modal ("HE WHO MUST NOT BE NAMED")-->
            <script type="text/javascript">
                $('#myModal').modal('show')
            </script>

        </div>
    </div>

</body>
</html>